:host {
  --ngx-tvk-key-background-color: darkgray;
  --ngx-tvk-key-background-color-hover: orange;
  --ngx-tvk-key-border-color-pressed: white;

  --ngx-tvk-toggle-button-position-top: auto;
  --ngx-tvk-toggle-button-position-bottom: 12px;
  --ngx-tvk-toggle-button-position-right: auto;
  --ngx-tvk-toggle-button-position-left: 12px;
}
