<p>custom keyboard</p>
<div class="grid-container">
  <div class="grid-item">type="text"</div>
  <input type="text" class="grid-item" useVirtualKeyboard placeholder="Type here..." [value]="inputValue" />

  <div class="grid-item">type="password"</div>
  <input type="password" class="grid-item" useVirtualKeyboard placeholder="pwa" />

  <div class="grid-item">type="number"</div>
  <input type="number" class="grid-item" useVirtualKeyboard placeholder="Type number..." />

  <div class="grid-item">
    <div>text type but with EMAIL KEYBOARD</div>
    <div>since is not defined a custom email layout defualt is applied</div>
  </div>
  <input type="text" class="grid-item" useVirtualKeyboard setKeyboardType="email" placeholder="Type email text..." />
</div>

<ngx-touch-virtual-keyboard></ngx-touch-virtual-keyboard>
