/* You can add global styles to this file, and also import other style files */
@import './../../../dist/ngx-touch-virtual-keyboard/theme/ngx-touch-virtual-keyboard-theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px; /* Gap between grid items */
}

.grid-item {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
