/* Default theme */
:root {
  --cursor-color: black;
  --ngx-tvk-background-color: rgba(245, 245, 245, 0.98);
  --ngx-tvk-background-input-color: #eaeaea;
  --ngx-tvk-key-background-color-hover: #cfd8dc;
  --ngx-tvk-key-border-color-hover: #90a4ae;
  --ngx-tvk-key-background-color-pressed: #90a4ae;
  --ngx-tvk-key-border-color-pressed: #607d8b;
  --ngx-tvk-key-shift-background-color: lightblue !important;
  --ngx-tvk-key-height: 2.75rem;
  --ngx-tvk-key-width: 3rem;
  --ngx-tvk-key-border-radius: 4px;
  --ngx-tvk-key-background-color: #eaeaea;
  --ngx-tvk-key-font-size: 0.8vw;
  --ngx-tvk-key-font-size-secondary: 0.5vw;
}

/* TODO add light and dark theme?*/

// a[data-theme="light"]  {
// --ngx-tvk-background-color: rgba(245, 245, 245, 0.98);
// --ngx-tvk-background-input-color: #eaeaea;
// }

// b[data-theme="dark"] {
// --ngx-tvk-background-color: rgba(245, 245, 245, 0.98);
// --ngx-tvk-background-input-color: #eaeaea;
// }
